.container{
    border: 1px solid red;
}
.row{
    border: 1px solid blue;
}
.row>*{
    border: 1px solid green;
}
.bg-primary{
    background-color: #d21327!important;
}
/* .servicios{
    display: flex;
} */
section{
    border: 1px solid blue;
    height: 150px;
}
.servicios>*{
    border: 1px solid red;
    }